<div class="row" ng-controller="SportsController as sportCtrl">
    <div class="col-lg-3 col-md-3 col-sm-4" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title"><h3>{{sportCtrl.sport.Name}}</h3></div>
            </div>
            <div class="panel-body" >
                <ul class="list-group">
                    <li ng-repeat="eventCategory in sportCtrl.sport.Categories" class="list-group-item">
                        <h4>{{eventCategory.Name}} <span class="badge">{{eventCategory.Events.length}}</span></h4>
                        <ul style="list-style-type:none">
                            <li ng-repeat="sportEvent in eventCategory.Events">
                                <a href="#/sport/{{sportCtrl.sport.Id}}" ng-click="sportCtrl.selectEvent(sportEvent.Id)">{{sportEvent.Name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1">
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5">
        <h2 class="event-header">{{sportCtrl.event.Name}}</h2>
        <div ng-if="!sportCtrl.event.Matches.length && sportCtrl.event.Name">
            <h4>There are no matches in the next 24 hours.</h4>
        </div>
        <div ng-if="!sportCtrl.event.Name">
            <h2>Please select an event.</h2>
        </div>
        <div ng-repeat="match in sportCtrl.event.Matches" class="match-holder">
            <div class="match-date">
                <span class="glyphicon glyphicon-time"></span>
                {{match.StartDate | date : 'dd MMM - HH:mm'}}
            </div>
            <div class="match-name">
                {{match.Name}}
            </div>
        </div>
    </div>
</div>